/* CSS reset */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 9999;
  animation: fade-out 1s ease 4s forwards;
}

.preloader--hidden {
  display: none;
  z-index: -1;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  z-index: -9999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  animation: fade-out 1s ease 4s forwards;
}

#loader img {
  width: 500px;
  height: 500px;
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

a {
  text-decoration: none;
}

body {
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
html,body {
    margin:0;
    padding:0;
}
html{
  height: 100vh;
}
.audio-container {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: transparent;
  color: white;
  z-index: 999;
}

audio::-webkit-media-controls-panel {
  background-color: rgb(255, 255, 255);
}

audio::-webkit-media-controls-play-button {
  color: white;
}

audio::-webkit-media-controls-volume-slider {
  background-color: white;
}

audio::-webkit-media-controls-timeline {
  background-color: white;
  display: none !important;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img { 
    border:0;
}
input{
    border:1px solid #b0b0b0;
    padding:3px 5px 4px;
    color:#979797;
    width:190px;
}
address,caption,cite,code,dfn,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border:0;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5%;
  background-color: transparent;
  z-index: 1;
}

.social-accounts {
  width: 400px;
  padding-left: 10px;
}

.social-accounts img {
  width: 15%;
  height: 15%;
  margin-top: 40px;
  margin-right: 10px;
  display: inline-block;
  position: relative;
  transition: transform 0.2s ease-in-out;
}
  
.social-accounts img:hover,
.social-accounts img:focus {
transform: scale(1.2);
}

.social-accounts img:active {
  transform: scale(0.8);
}

.navbar button {
  font-size: 1em;
  padding: 10px 10px;
  margin-right: 10px;
  margin-top: 30px;
  font-family: '8-BIT-WONDER', sans-serif;
  background-color: rgba(0, 0, 0, 0.75);
  color: rgb(255, 255, 255) !important;
  border: 2px solid rgba(255, 255, 255, 0.0);
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.navbar button:not(.stake):hover {
  background-color: rgba(255, 255, 255, 0.75);
  color: #000000 !important;
}

/* Secone styles */

.secone {
  position: relative;
  height: 100vh;
}

.secone-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.secone-container {
  margin: 0 auto;
  text-align: center;
}

.image-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Scroll styles */

.scroll-container {
  display: flex;
  background-color: transparent;
  overflow-x: hidden;
  position: absolute;
  width: 100%;
  height: 100px;
  top: 89.5%;
}

.scroll-container img {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  animation: scroll 2735s linear infinite; /* Add 'reverse' to animation property */
}

@keyframes scroll {
  0% {
    transform: translateX(-54700%); /* Change starting position */
  }
  100% {
    transform: translateX(0);
  }
}

a {
  color: inherit;
  text-decoration: none;
}


/* About styles */

.about {
  position: relative;
  height: 100vh;
}

.about-container {
  text-align: center;
}

.about-text {
  position: absolute;
  width: 100%;
  background-color: transparent;
  color: #ffffff;
  text-align: center;
  font-family: 'Fipps-Regular', sans-serif;
  font-size: 1.5em;
  line-height: 5;
  top: 50%;
  transform: translateY(-50%);
  }

/* About styles */

.team {
  background-color: #000000;
  position: relative;
  height: 50vh;
}

.team-container {
  margin: 0 auto;
  text-align: center;
}

.team-text {
  position: absolute;
  width: 100%;
  background-color: transparent;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  font-family: '8-BIT-WONDER', sans-serif;
  font-size: 0.8em;
  line-height: 5;
  top: 50%;
  transform: translateY(-50%);
  }

/* Sectwo styles */

@font-face {
  font-family: '8-BIT-WONDER';
  src: url('8-BIT-WONDER.TTF') format('truetype');
}
@font-face {
  font-family: 'Fipps-Regular';
  src: url('Fipps-Regular.otf') format('opentype');
}
.sectwo {
  background-color: #000000;
  height: 100vh; 
  overflow: hidden;
  padding: 50px 0px;
}

.sectwo-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.sectwo-container {
  position: relative;
  width: 100vw;
  margin: 0 auto;
  height: 100vh;
  z-index: 0;
}

.collection-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: auto;
  width: 80vw; /* Adjust the width as needed */
  margin: 0 auto;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 50px;
  width: 80vw;
  height: 50.5vw;
  margin: 0 auto;
  background-color: transparent;
}

.grid-cell {
  margin-top: 25px;
  background-color: transparent;
  font-family: '8-BIT-WONDER', sans-serif;
  text-align: center;
  font-size: 1.25em;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.grid-cell img {
  width: 100%;
  border-radius: 10px;
}

.grid-box {
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 10px;
}

.grid-text {
  text-align: center;
  padding: 10px;
  line-height: 1.5; /* Add spacing between lines */
}


.secthree-container{
  width: 100vw;
  height: 300px;
}

.secthree-bg{
  width: 100vw;
  height: 50vh;
}

.footer-text{
  position: relative;
  transform: translateY(-50px);
  left: 0;
  right: 0;
  display: flex;
  margin: 0%;
  padding: 0%;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: '8-BIT-WONDER', sans-serif;
  color: white;
}

@media screen and (max-width: 1051px) {
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: transparent;
    z-index: 1;
  }


  .social-accounts img {
    width: 10%;
    height: 100%;
    margin-right: 10px;
    display: inline-block;
    position: relative;
    justify-content: center;
    align-items: center;
    left: 23%;
    transition: transform 0.2s ease-in-out;
  }
}
@media screen and (max-width: 765px) {
  body {
    background-image: url('mobilemeep2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 9999;
    height: 100vh;
  }
  
  /* Hide all other content */
  .navbar{
    display: none;
  }

  .about{
    display: none;
  }

  .team{
    display: none;
  }

  .secthree{
    display: none;
  }

  .secone{
    display: none;
  }

  .sectwo{
    display: none;
  }

  .scroll{
    display: none;
  }

  .social-accounts{
    display: none;
  }
}

.seperator{
  width: 100vw;
  z-index: 0;
  height: 100vh;
}
